<h3><%= emri_prindit %> <%= mbiemri_prindit%></h3>
<table
  style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%"
>
  <tr style="border-bottom: 1px solid black">
    <th>Emri i femijes</th>
    <th>Mbiemri i femijes</th>
    <th>Mosha e femijes</th>
    <th>Emri i prindit</th>
    <th>Mbiemri i prindit</th>
    <th>Email</th>
    <th>Kursi</th>
    <th>Numri i telefonit</th>
  </tr>
  <tr style="border-bottom: 1px solid black">
    <td><%= emri_femijes %></td>
    <td><%= mbiemri_femijes %></td>
    <td><%= mosha_femijes %></td>
    <td><%= emri_prindit %></td>
    <td><%= mbiemri_prindit %></td>
    <td><%= email %></td>
    <td><%= kursi %></td>
    <td><%= telefoni %></td>
  </tr>
</table>
